<form [formGroup]="regForm" (ngSubmit)="onSubmit()">
  <div class="d-flex justify-content-center">
    <mat-form-field appearance="fill" class="mr-4">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
      <!-- validation -->
      <mat-error *ngIf=" !regForm.get('lastName').valid && regForm.get('lastName').errors['required']">
        Last name is <strong>required</strong>
      </mat-error>

      <mat-error *ngIf=" !regForm.get('lastName').valid 
      && (regForm.get('lastName').errors['pattern'] || regForm.get('lastName').errors['hasNumber'])">
        Last name only accept <strong>string</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="mr-4">
      <mat-label>Middle Name</mat-label>
      <input matInput formControlName="middleName">
      <!-- validation -->
      <mat-error *ngIf="!regForm.get('middleName').valid && regForm.get('middleName').errors['pattern']">
        Middle name does not contain special characters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="mr-4">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">

      <mat-error *ngIf="!regForm.get('firstName').valid && regForm.get('firstName').errors['required']">
        First name is <strong>required</strong>
      </mat-error>

      <mat-error *ngIf=" !regForm.get('firstName').valid 
      && (regForm.get('firstName').errors['pattern'] || regForm.get('firstName').errors['hasNumber'])">
        Last name only accepts <strong>string</strong>
      </mat-error>
    </mat-form-field>
  </div>


  <!-- CODE OPTION -->
  <div class="d-flex justify-content-center ml-3 mt-4">
    <mat-form-field class="mr-5">
      <mat-label>Country Code</mat-label>
      <mat-select formControlName="country" (selectionChange)="changeCountry($event)">
        <mat-option *ngFor="let country of countryCodeData" [value]="country.id">
          {{ country.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mr-5">
      <mat-label>Area Code</mat-label>
      <mat-select formControlName="area">
        <mat-option *ngFor="let area of filteredArea[0].value" [value]="area">
          {{area}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="legacy" class="mr-5">
      <mat-label>Number phone</mat-label>
      <input appBlockCopyPaste matInput placeholder="Number phone" formControlName="numberPhone">
      <mat-error *ngIf="!regForm.get('numberPhone').valid && regForm.get('numberPhone').errors['pattern']">
        Number phone only accept number
      </mat-error>
    </mat-form-field>
  </div>

  <div class="ml-3 mt-4">
    <label id="example-radio-group-label">Gender</label>
    <br>
    <mat-radio-group aria-label="Select an option" class="mt-1" formControlName="gender">
      <mat-radio-button value="F">Female</mat-radio-button>
      <mat-radio-button value="M">Male</mat-radio-button>
      <mat-error *ngIf="submitted && ( regForm.get('gender').value === 'U' )">
        Please enter your gender
      </mat-error>
    </mat-radio-group>
  </div>

  <div class="mt-4 ml-3">
    <button mat-flat-button color="primary" type="submit">Submit</button>
    <button mat-flat-button color="accent" class="ml-4" type="button" (click)='setInfo()'>Retrieve My Info</button>
  </div>
</form>
